.add-producer {
    width: 40%;
    text-align: center;
    color: #000;
    margin: auto;
    margin-top: 1%;
    height: 85%;
}

.progress-indicator {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
}

.step {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.step.active {
    background-color: #007bff; /* Change color as needed */
}


.progress {
    height: 0.5rem !important;
    width: 100%;
    background-color: #ccc;
    border-radius: 40px;
    margin-bottom: 0.5%;
}

.progress-bar {
    height: 100%;
	background-color: #5374B1;
	border-radius: 40px;
	text-align: right;
}

.add-producer .form-group {
    text-align: left;
}

.add-producer .form-group label{
    font-size: 1rem;
    font-weight: bold;
}

.error-text {
    font-size: 1rem;
    color: red;
    margin-bottom: 0;
}

.add-producer .drop-zone {
    border: 2px solid #5374B1;
    padding: 5%;
}

.add-producer .button-section{
    margin-top: 1%;
    text-align: right;
}

.add-producer .continue{
    background-color: #5374B1 !important;
    border-color: #5374B1;
    color: #fff !important;
    margin-left: 3%;
}

.add-producer .cancel{
    border: 2px solid #5374B1 !important;
    background-color: #FFFFFF !important;
    color: #000000 !important;
}

.added-image:hover {
    cursor: pointer;
}
