.login {
    width: 40%;
    text-align: center;
    color: #FFFFFF;
    margin: auto;
}

.login .form-group {
    text-align: left;
}

.login .form-group label{
    font-size: 1rem;
}

.login .error-text {
    font-size: 1rem;
    color: red;
    margin-bottom: 0;
}

.login .continue{
    background-color: #5374B1;
    border-color: #5374B1;
    color: #fff;
    margin-top: 1rem;
}