.login {
    width: 60%;
    text-align: center;
    color: #000;
    margin: auto;
    margin-top: 5%;
    display: flex;
}

.login form {
    width: 60%;
    align-self: center;
}

.login .login-logo {
    width: 40%;
}

.login .login-logo img {
    width: 100%;
}

.login .form-group {
    text-align: left;
}

.login .form-group label{
    font-size: 1rem;
    font-weight: bold;
}

.login .error-text {
    font-size: 1rem;
    color: red;
    margin-bottom: 0;
}

.login .continue{
    background-color: #5374B1 !important;
    border-color: #5374B1 !important;
    color: #fff !important;
    margin-top: 1rem;
}