.edit-icon {
    font-size: 1.5rem;
    cursor: pointer;
}

.delete-icon {
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 2%;
}

.delete-icon:hover {
    color: red;
}

.users-table tr {
    cursor: default !important;
}

.edit-icon:hover {
    color: #5374B1;
}

.form-group{
    text-align: left;
}

.form-group label {
    font-weight: bold;
}

.show-icon {
    font-size: 1.5rem;
    text-align: center;
    padding: 0.375rem 0.2rem;
}

.show-icon:hover {
    cursor: pointer;
}

.edit-button {
    margin-top: 1%;
    color: #FFF !important;
    background-color: #5374B1 !important;
}

.edit-button:hover {
    color: #000 !important;
    background-color: #B9DEE4 !important;
}