.view-producer {
    text-align: left;
    display: flex;
    height: 85%;
}

.left-menu {
    background-color: #B9DEE4;
    color: #FFFFFF;
    width: 30%;
    margin-left: 0;
    text-align: left;
    display: inline-block;
    overflow-y: auto;
}

.last-log {
    margin-left: 1rem;
    color: #000;
}

.left-menu h4 {
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-size: 1.2rem;
    color: #000;
}

.left-menu p {
    margin-left: 1rem;
    margin-bottom: 0;
    color: #000;
}

.left-menu .image-link:hover {
    cursor: pointer;
    color: #5374B1;
}

.edit-profile {
    margin-top: .2rem;
}

.edit-profile h4 {
    display: inline;
}

.edit-profile .edit-icon {
    font-size: 1.5rem;
    margin-left: 1rem;
    cursor: pointer;
    color: #000;
}

.edit-profile .edit-icon:hover {
    color: #5374B1;
}

.view-producer .profile-data {
    margin-left: 1rem;
}

.view-producer .profile-data p {
    margin-left: 0;
    margin-right: 0.2rem;
    display: inline;
}

.container {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 0;
    text-align: center;
    padding: 0 !important;
}

.edit-header {
    background-color: #B9DEE4;
    height: 2.5rem;
    display: flex;
    justify-content: end;
    align-items: center;
}

.edit-header .add-icon, .edit-header .edit-icon{
    font-size: 2rem;
    color: #000;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.edit-header .add-icon:hover, .edit-header .edit-icon:hover{
    cursor: pointer;
    color: #5374B1;
}

.add-image{
    display: flex;
    flex-direction: column;
    width: 40rem;
    margin: auto;
}

.dropped-images {
    margin-top: 1rem;
    width: 100%;
}

.added-image {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5) !important; 
}

.add-button, .add-button:disabled {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #5374B1 !important;
    color: #FFF !important;
    width: 30% !important;
    align-self: flex-end;
}

.add-button:hover {
    background-color: #B9DEE4;
    color: #000;
}

.image-container{
    text-align: center;
    margin: auto;
    overflow-y: auto;
}

.drop-zone {
    border: 2px solid #5374B1;
    padding: 5%;
    color: #000;
}

.drop-images, .role-images {
    padding: 0;
    width: 25% !important;
}

.dropped-images .remove-icon, .role-images .remove-icon {
    border-radius: 50%;
    font-size: 1.5rem;
    color: red;
    background-color: #FFF;
}

.dropped-images .remove-icon:hover, .role-images .remove-icon:hover {
    cursor: pointer;
    color: darkred;
}

.role-images ul{
    margin: auto;
}

.drop-images img, .role-images img{
    padding: 0;
    width: 100%;
    height: 100%;
}

.drop-images span, .role-images span{
    padding: 0;
    line-height: 0;
    font-size: 2rem;
    cursor: pointer;
}

.edit-form {
    padding-left: 1rem;
    padding-right: 0.5rem;
    display: flex;
    flex-direction: column;
}

.edit-form button{
    margin-top: 0.5rem;
    background-color: #5374B1;
    color: #FFFFFF;
    align-self: flex-end;
}

.edit-form button:hover{
    background-color: #B9DEE4;
}

.error-text {
    font-size: 1rem;
    color: red;
    margin-bottom: 0;
}

.delete-button {
    background-color: red !important;
    color: #FFF !important;
}

.delete-button:hover {
    background-color: darkred !important;
    color: #FFF !important;
}